* {
  box-sizing: border-box;
}

.back1 {
  width: 100%;
  height: 44px;
}
.back3 {
  background-color: #f5f5f7;
}
.replacer-2 {
  display: none;
  width: 744px;
  height: 1494px;
}
.orlogc {
  display: none;
  width: 366px;
  height: 490px;
}
.boxx {
  display: none;
}
.back2 {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
}
.eej-huu {
  display: none;
}
.women {
  display: none;
}
.footballers {
  display: none;
}
.words {
  width: 55px;
  height: 16px;
  color: #1d1d1f;
  font-weight: 700;
  font-size: 12px;
  display: none;
}
.travel {
  width: 149px;
  height: 16px;
  color: #1d1d1f;
  font-weight: 700;
  font-size: 12px;
  display: none;
  padding-left: 260px;
}
.orlogc {
  width: 366px;
  height: 490px;
  display: none;
  position: absolute;
  z-index: -1;
}
.gallery {
  width: 24px;
  height: 24px;
  display: none;
}
.cartoon {
  display: none;
}
.nar {
  display: none;
}
.appleicon {
  width: 30px;
  height: 44px;
  cursor: pointer;
  border: none;
  background: transparent;
}
.apple {
  display: none;
  width: 257px;
  height: 72px;
  color: #1d1d1f;
  font-weight: 700;
  font-size: 30px;
  padding-left: 55px;
  padding-top: 22px;
}
.hardware {
  width: 257px;
  height: 40px;
  color: #1d1d1f;
  font-weight: 400;
  font-size: 18px;
  display: none;
  padding-left: 55px;
  padding-top: 5px;
}
.orlogc3 {
  width: 366px;
  height: 490px;
  display: none;
  position: absolute;
  z-index: -1;
}
.text {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #1d1d1f;
  cursor: pointer;
  border: none;
  background: transparent;
}
.text22 {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #1d1d1f;
  cursor: pointer;
  border: none;
  background: transparent;
}
.back12 {
  background-color: white;
  width: 100%;
  height: 44px;
}
.back11 {
  display: flex;
  justify-content: center;
}
.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  aspect-ratio: 1920/692;
  position: relative;
}
.hero111 {
  width: 100%;
  display: flex;
  justify-content: center;
  aspect-ratio: 1920/692;
}
.menu {
  width: 48px;
  height: 48px;
}
.tompro {
  position: absolute;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}
.flexi1 {
  width: 405px;
  height: 76px;
}
.flexi2 {
  width: 404px;
  height: 32px;
}
.flexi3 {
  width: 405px;
  height: 68px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 16px;
}

.flex {
  width: 405px;
  height: 176px;
  margin-top: 55px;
}

.pro16 {
  display: flex;
  justify-content: center;
  font-size: 52px;
  font-weight: semi bold;
  color: white;
  margin-top: 0%;
}
.pro {
  display: flex;
  justify-content: center;
  font-weight: semi bold;
  font-size: 24px;
  margin-top: 5px;
  color: white;
}

.baagii1 {
  background-color: #0071e3;
  border: none;
  border-radius: 20px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.baagii2 {
  background: none;
  border-radius: 20px;
  width: 68px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #0071e3 solid;
}
.boogii1 {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
}
.boogii2 {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #0071e3;
  cursor: pointer;
  background: transparent;
  border: none;
}
.baagii11 {
  background-color: white;
  border: none;
  border-radius: 20px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.baagii22 {
  background-color: white;
  background: none;
  border: 1px white solid;
  border-radius: 20px;
  width: 68px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boogii11 {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  cursor: pointer;
  background: transparent;
  border: none;
}
.boogii22 {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
}
.medku {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 405px;
  height: 164px;
  flex-direction: column;
  gap: 16px;
}
.medku1 {
  width: 405px;
  height: 60px;
  margin-top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.medku2 {
  width: 405px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orlogc4 {
  width: 366px;
  height: 490px;
  display: none;
  position: absolute;
  z-index: -1;
}
.medku3 {
  background-color: #0071e3;
  border: none;
  border-radius: 20px;
  width: 114px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gift {
  color: black;
  font-size: 52px;
  font-weight: semi bold;
}
.gift2 {
  color: #000000;
  font-size: 24px;
  font-weight: semi bold;
  opacity: 80%;
}
.gift3 {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
}
.tsaagii {
  position: relative;
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  z-index: -1;
}
.zegii {
  position: relative;
  width: 49%;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 45px;
}
.zegii4 {
  position: relative;
  width: 49.5%;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 45px;
}
.zugii {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 580px;
  top: 0;
  object-fit: cover;
}
.zugiipo {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 580px;
  top: 0;
  object-fit: cover;
}
.iconic {
  width: 241px;
  height: 69ox;
  color: #f5f5f7;
  font-weight: 400;
  font-size: 18px;
  display: none;
  padding-left: 42px;
}
.learnmore {
  width: 107px;
  height: 36px;
  background-color: #0071e3;
  border-radius: 20px;
  border: 2px solid #0071e3;
  color: white;
  display: none;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}
.buybutton {
  width: 66px;
  height: 36px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #0071e3;
  color: white;
  display: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.airpod4 {
  width: 144px;
  height: 36px;
  color: white;
  font-weight: 700;
  font-size: 30px;
  display: none;
  padding-top: 227px;
  padding-left: 62px;
}
.eej-huu2 {
  display: none;
}
.zugii222 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 580px;
  top: 0;
  object-fit: cover;
}
.pagii {
  display: flex;
  justify-content: center;
  width: 322px;
  height: 15px;
}
.pagii12 {
  width: 322px;
  height: 30px;
  object-fit: cover;
}
.pagii13 {
  display: flex;
  justify-content: center;
  width: 322px;
  height: 25px;
  margin-top: 8px;
}
.yoga {
  display: none;
}
.begii {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}
.paagii {
  width: 322px;
  height: 135px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.tovchdii {
  width: 322;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 16px;
}
.baaska {
  width: 115px;
  height: 40px;
  background-color: #0071e3;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.baaska3 {
  width: 115px;
  height: 40px;
  background-color: #0071e3;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toogii {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}
.toogii3 {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}
.baaska2 {
  height: 40px;
  width: 68px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #0071e3 solid;
}
.baaska4 {
  height: 40px;
  width: 68px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #0071e3 solid;
}
.toogii2 {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #0071e3;
  background: transparent;
  border: none;
  cursor: pointer;
}
.toogii4 {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #0071e3;
  background: transparent;
  border: none;
  cursor: pointer;
}
.garii {
  width: 200px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gari {
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: -webkit-linear-gradient(#0090f7, #ba62fc, #f2416b, #f55600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bataa {
  width: 370px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}
.jimsee {
  width: 370px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jijgee {
  font-size: 36px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
.jimsee2 {
  width: 370px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jijgee2 {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
.jimsee3 {
  width: 370px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.boldoo {
  width: 322px;
  height: 146px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.boloo {
  width: 322px;
  height: 61px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 9px;
}
.zail {
  width: 27px;
  height: 32px;
}
.har {
  font-size: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}
.har2 {
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}
.bol {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  width: 322px;
  height: 39px;
}
.yoo {
  width: 322px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yoo2 {
  width: 322px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yooy {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #1d1d1f;
}
.yooy2 {
  width: 322px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 16px;
}
.zaluu {
  width: 370px;
  height: 121px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.huuhed {
  color: black;
  font-size: 36px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.huuhen2 {
  columns: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}
.ohin {
  width: 370px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.olon {
  width: 370px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ydargaa {
  width: 370px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.medku21 {
  width: 322px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.alna {
  width: 322px;
  height: 39px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.too {
  width: 322px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toojgii {
  font-size: 18px;
  font-family: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}
.boogii55 {
  width: 322px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buugii {
  width: 167px;
  height: 40px;
  background-color: #0071e3;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eegii {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}
.ovoo {
  width: 322px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.last {
  width: 322px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.lasti {
  height: 40px;
  width: 118px;
  background-color: #0071e3;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lasty {
  width: 112px;
  height: 40px;
  border: 1px solid #0071e3;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
}
.zika {
  color: #0071e3;
  border: none;
  background: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.hi5 {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  width: 100%;
  margin-top: 5px;
  overflow-x: scroll;
  gap: 10px;
  z-index: -1;
}
.chi {
  width: 1187.77px;
  height: 668px;
  display: flex;
  position: relative;
  flex-shrink: 0;
  align-items: end;
  padding-left: 70px;
  padding-bottom: 58px;
}
.boov {
  width: 353px;
  height: 20px;
  display: flex;
  align-items: end;
  flex-direction: row;
  padding-left: 223px;
  padding-bottom: 68px;
}

.utra {
  font-size: 17px;
  font-weight: semi bold;
  color: white;
}
.replacer {
  width: 390px;
  height: 3833px;
  display: none;
}
.zoz {
  font-size: 17px;
  color: black;
  background-color: white;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  padding: 8px;
  border-radius: 25px;
  width: 133px;
  height: 44px;
}
.awwrr {
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: none;
}
.scroll1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.pataa {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
}

.haha {
  width: 1250px;
  height: 668px;
}
.harkoow {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.haagoo {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: black;
  opacity: 50%;
}

.suuliih {
  width: 100%;
  background-color: white;
  height: 240px;
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  z-index: -1;
  position: absolute;
}

.burhan {
  width: 417px;
  height: 216px;
  flex-shrink: 0;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.gahai {
  width: 417px;
  height: 216px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.sumo {
  background-color: #1b2632;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 417px;
  height: 216px;
  position: relative;
}
.rb {
  color: white;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 10px;
  padding-top: 1px;
}
.rb1 {
  color: black;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 10px;
  padding-top: 1px;
  font-weight: 500;
}
.namaa {
  padding-left: 65px;
  padding-top: 140px;
}
.namaa1 {
  padding-top: 150px;
  padding-left: 50px;
}
.sumo1 {
  width: 196px;
  height: 196px;
  padding-left: 15px;
}
.sumer {
  background-color: #ebb799;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 417px;
  height: 216px;
  position: relative;
}
.ygaanaahan {
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 11px;
  padding-bottom: 10px;
}
.alimaaa {
  width: 13px;
  height: 15.6px;
}
.bai {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
}
.zazaza {
  padding-left: 55px;
  padding-bottom: 14px;
}
.zazaza1 {
  padding-left: 55px;
  padding-bottom: 8px;
}
.haayaa {
  color: black;

  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.saa {
  display: flex;
  align-items: center;
  gap: 120px;
}
.gaa {
  display: flex;
  flex-direction: row;
}
.zuraag {
  width: 35px;
  height: 35px;
  display: none;
}
.zuraag111 {
  width: 15px;
  height: 15px;
}
.zuraag2 {
  width: 31px;
  height: 44px;
}
.zuraag3 {
  width: 15px;
  height: 18px;
}
.bosloo {
  aspect-ratio: 390/500;
  display: none;
}
.flex500 {
  width: 405px;
  height: 176px;
  margin-top: 55px;
}
.hero1000 {
  width: 100%;
  display: flex;
  justify-content: center;
  aspect-ratio: 1920/692;
  position: relative;
}
.bayar {
  aspect-ratio: 390/500;
  display: none;
}

@media only screen and (max-width: 768px) {
  .text {
    display: none;
  }
  .back2 {
    justify-content: space-between;
  }
  .zuraag {
    display: block;
  }
  .tompro {
    width: 768px;
    height: 650px;
  }
  .hero {
    width: 768px;
    height: 650px;
  }
  .medku {
    display: none;
  }
  .medku1 {
    display: none;
  }
  .medku2 {
    display: none;
  }
  .gift {
    display: none;
  }
  .gift2 {
    display: none;
  }
  .hero1000 {
    display: none;
  }
  .hero111 {
    width: 768px;
    height: 650px;
  }
  .zegii {
    width: 768px;
    height: 650px;
  }
  .pataa {
    display: none;
    height: 0px;
  }
  .nar {
    display: none;
  }
  .garii {
    width: 238px;
    height: 24px;
    padding-bottom: 100px;
  }
  .orlogc {
    display: none;
    width: 366px;
    height: 490px;
  }
  .zugii222 {
    display: block;
  }
  .zugii {
    display: block;
  }
  .zegii4 {
    display: none;
  }
  .orlogc3 {
    display: none;
  }
  .jijgee {
    display: none;
  }
  .jimsee {
    display: none;
  }
  .jijgee2 {
    display: none;
  }
  .jimsee2 {
    display: none;
  }
  .toogii3 {
    display: none;
  }
  .toogii4 {
    display: none;
  }
  .baaska4 {
    display: none;
  }
  .baaska3 {
    display: none;
  }
  .boogii1 {
    display: block;
  }
  .boldoo {
    display: none;
  }
  .zaluu {
    display: none;
  }
  .ohin {
    display: none;
  }
  .huuhed {
    display: none;
  }
  .apple {
    display: none;
  }
  .harkoow {
    display: block;
    display: flex;
  }
  .airpod4 {
    display: none;
    justify-content: center;
  }
  .iconic {
    display: none;
  }
  .learnmore {
    display: none;

    justify-content: center;
    align-items: center;
  }
  .buybutton {
    display: none;
  }
  .zegii4 {
    width: 366px;
    height: 490px;
    padding-top: 0px;
  }

  .zulaa {
    display: none;
  }
  .medku21 {
    display: none;
  }
  .zail {
    display: none;
  }
  .orlogc3 {
    display: block;
  }
  .replacer-2 {
    display: block;
  }
  .apple {
    display: block;
  }
  .hardware {
    display: block;
  }
  .zugiipo {
    display: none;
  }
  .orlogc4 {
    display: block;
  }
  .zoz {
    display: none;
  }
  .utra {
    display: none;
  }
  .pataa {
    display: block;
  }
  .nar {
    display: block;
    width: 689px;
    height: 368px;
  }
  .chi {
    padding-left: 0px;
    align-items: start;
    justify-content: start;
    padding-bottom: 400px;
  }
  .suuliih {
    display: none;
  }
  .saa {
    display: none;
  }
  .burhan {
    display: none;
  }
  .ygaanaahan {
    display: none;
  }
  .boxx {
    display: block;
    width: 768px;
    height: 194px;
  }
  .hi5 {
    height: 368px;
  }
}

@media only screen and (max-width: 390px) {
  .text {
    display: none;
  }
  .back2 {
    justify-content: space-between;
  }
  .back12 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 73px;
  }
  .text22 {
    font-size: 14px;
  }
  .zuraag {
    display: block;
  }
  .bosloo {
    display: block;
  }
  .hero111 {
    margin-top: 120px;
    width: 390px;
    height: 500px;
  }
  .bosloo {
    width: 390px;
    height: 500px;
  }
  .tompro {
    width: 390px;
    height: 500px;
  }
  .eej-huu {
    display: none;
  }
  .nar {
    display: none;
  }
  .women {
    display: none;
  }
  .cartoon {
    display: none;
  }
  .boxx {
    display: none;
  }
  .pro16 {
    font-size: 30px;
  }
  .pro {
    font-size: 18px;
  }
  .baagii11 {
    width: 107px;
    height: 36px;
  }
  .baagii22 {
    width: 66px;
    height: 36px;
  }
  .boogii11 {
    font-size: 14px;
  }
  .flex {
    margin-top: 335px;
  }
  .flexi1 {
    height: 36px;
  }
  .burhan {
    display: none;
  }
  .gahai {
    display: none;
  }
  .saa {
    display: none;
  }
  .ygaanaahan {
    display: none;
  }
  .flexi2 {
    height: 22px;
  }
  .flexi3 {
    height: 36px;
  }
  .hero {
    margin-bottom: 0;
    height: 500px;
    width: 390px;
  }
  .flex500 {
    margin-top: 30px;
  }
  .hero1000 {
    display: none;
  }
  .tsaagii {
    margin-top: 305px;
  }
  .zegii {
    aspect-ratio: 390/500;
    width: 100%;
  }
  .scroll1 {
    display: none;
  }
  .zoz {
    display: none;
  }
  .utra {
    display: none;
  }
  .pataa {
    display: block;
  }
  .bayar {
    display: none;
  }
  .zulaa {
    display: none;
  }
  .hi5 {
    display: none;
    width: 390px;
    display: flex;
    overflow-x: scroll;
  }
  .chi {
    width: 274px;
    height: 495px;

    display: none;
  }
  .zoz {
    display: none;
  }
  .utra {
    display: none;
  }
  .women {
    display: none;
    width: 274px;
    height: 495px;
  }
  .cartoon {
    display: none;
    width: 274px;
    height: 495px;
  }
  .footballers {
    display: none;
    width: 274px;
    height: 495px;
  }
  .replacer {
    display: block;
    width: 390px;
  }
  .replacer-2 {
    display: none;
  }
  .zugii222 {
    display: block;
  }
  .zegii4 {
    display: block;
  }
  .nar {
    display: block;
    width: 274px;
    height: 495px;
  }
  .eej-huu {
    display: block;
    width: 274px;
    height: 495px;
  }
  .pataa {
    display: none;
  }
  .suuliih {
    display: none;
  }
  .burhan {
    display: none;
  }
  .gahai {
    display: none;
  }
  .saa {
    display: none;
  }
  .ygaanaahan {
    display: none;
  }
  .bai {
    display: none;
  }
  .alimaa {
    display: none;
  }
  .haayaa {
    display: none;
  }
  .awwrr {
    display: none;
  }
  .sumer {
    display: none;
  }
  .sumo1 {
    display: none;
  }
  .rb1 {
    display: none;
  }
  .namaa1 {
    display: none;
  }
  .yoga {
    display: none;
    width: 238px;
    height: 134px;
  }
  .words {
    display: none;
  }
  .travel {
    display: none;
  }
  .gallery {
    display: none;
  }
}
